.body-bgcolor {
    width: 1600px;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
    /* background-color: rgb(241, 235, 235); */
    background-color: white;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared class start */
.nav-container {
    width: 80%;
    width: 1600px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
}

nav {
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
}
.section-container {
    display: flex;
    justify-content: space-between;
}

.image {
    margin: 10px 10px;
}

.nav-text-kv {
    width: 71px;
    height: 36px;
    font-size: 3em;
    font-weight: 700;
    margin: 0 10px;
    margin-bottom: 10px;
    color: green;
}
.container .heading3 {
    font-size: 9px;
    text-align: center;
}

.nav-selection .image {
    height: 46px;
    width: 46px;
    top: 2px;
    left: 7px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 50px;
}

.menu li {
    font-size: 16px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    background-color: rgb(241, 151, 33);
}

.button-container button {
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
}

/* Banner Section Start */

#banner{
    width: 1600px;
    max-width: 1600px;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
}

#banner #container {
    backdrop-filter: blur(10px);
}

.banner-h3-container {
    padding: 155px 0 16px 0;
}
.banner-h3-container h3 {
    width: 229px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    color: green;
    background-color: white ;
    border-radius: 10px;
    padding: 7px;
}

.banner-h2-container {
    font-size: 3em;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
}

.h2-first h2 {
    color: white;
    font-weight: 700;
    font-weight: bold;
}

.h2-second {
    color: green;
    font-weight: 700;
    font-weight: bold;
    }   

.h3-paragraph p {
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
    color: rgb(217, 207, 207);
}

.banner-h2-container .btn-container button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    background-color: green;
    color: white;
    border-radius: 6px;
    border: none;
    gap: 10px;
    margin-top: 32px;
    padding: 10px 16px 16px 16px;
}

.banner-h2-container .btn-container .color-btn3 {
    background-color: transparent;
    border: 2px solid white;
    transition: 0.5s all ease;
}

.banner-h2-container .btn-container .color-btn3:hover{
    background-color: green;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Note Section Start */
.note-section {
    width: 1360px;
    max-width: 1600px;
    height: 153px;
    margin: 0 auto;
    text-align: center;
    margin-top: 128px;
}

.note-section .note {
    padding-top: 50px;
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 10px;
}

.note-paragraph p {
    font-size: 16px;
    color: rgb(98, 115, 130); 
}

/* Card Section Start */
/* .card-container{
    width: 1360px;
    height: 840px;
    display: flex;
    justify-content: space-between;
} */
.card-container {
    width: 1600px;
    height: 448px;
    margin: 0 auto;  
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.card-container .card-info {
    width: 322px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 7px;
    box-shadow: 0 5px 5px gainsboro;
    text-align: center;
    margin: 0 auto;
    padding: 24px;
}

.card-info img {
    margin-top: 50px;
    padding: 14px;
    background-color: rgb(249, 85, 85);
    border-radius: 50%;
}

.card-info h3 {
    font-size: 24px;
    margin-top: 16px;
}

.card-info p {
    font-size: 16px;
    margin-top: 16px;
    color: rgb(98, 115, 130);
}

/* Brain Section Start */
.brain-section {
    width: 1360px;
    height: 600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.brain-section .brain-image{
    width: 600px;
    max-width: 1600px;
    margin-top: 102px;
    height: 600px;
    border-radius: 12px;
}
.brain-description{
  margin-left: 60px;
}

.brain-description h4{
    margin-top: 102px;
    width: 700px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(98, 115, 130);
}
.brain-description h2{
    width: 700px;
    height: 116px;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.brain-description p{
    width: 700px;
    height: 60px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: rgb(98, 115, 130);
    padding: 16px;
}

 .think-section {
    width: 1360px;
    /* max-width: 1600px; */
    height: 384px;
    background-color: rgb(247, 246, 242, 1);
    margin: 0 auto;
    margin-top: 120px;
    padding: 80px 40px 80px 40px;
    text-align: center;
 } 

 .think-section .think-text h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: black;
 }

 .think-section .think-text p{
    font-size: 10px;
    font-weight: 400;
    color: rgb(98, 115, 130);
    margin-bottom: 24px;
 }

 .think-section .think-btn button{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 194px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    background-color: green;
    color: white;
    border-radius: 6px;
    border: none;
    gap: 10px;
    margin-top: 24px;
    padding: 10px 16px 16px 16px;
 }

  .think-section .think-text2 p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(98, 115, 130);
    margin-bottom: 24px;
    margin-top: 16px;
    gap: 16px;
 }