.body-bgcolor {
    width: 1600px;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(241, 235, 235);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared class start */
.nav-container {
    width: 80%;
    width: 1600px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
}

nav {
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
}
.section-container {
    display: flex;
    justify-content: space-between;
}

.image {
    margin: 10px 10px;
}

.nav-text-kv {
    width: 71px;
    height: 36px;
    font-size: 3em;
    font-weight: 700;
    margin: 0 10px;
    margin-bottom: 10px;
    color: green;
}
.container .heading3 {
    font-size: 9px;
    text-align: center;
}

.nav-selection .image {
    height: 46px;
    width: 46px;
    top: 2px;
    left: 7px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 50px;
}

.menu li {
    font-size: 16px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    background-color: rgb(241, 151, 33);
}

.button-container button {
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
}

/* Banner Section Start */

#banner{
    width: 1600px;
    max-width: 1600px;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
}

#banner #container {
    backdrop-filter: blur(10px);
}

.banner-h3-container {
    padding: 155px 0 16px 0;
}
.banner-h3-container h3 {
    width: 229px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    color: green;
    background-color: white ;
    border-radius: 10px;
    padding: 7px;
}

.banner-h2-container {
    font-size: 3em;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
}

.h2-first h2 {
    color: white;
    font-weight: 700;
    font-weight: bold;
}

.h2-second {
    color: green;
    font-weight: 700;
    font-weight: bold;
    }   

.h3-paragraph p {
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
    color: rgb(217, 207, 207);
}

.banner-h2-container .btn-container button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    background-color: green;
    color: white;
    border-radius: 6px;
    border: none;
    gap: 10px;
    margin-top: 32px;
    padding: 10px 16px 16px 16px;
}

.banner-h2-container .btn-container .color-btn3 {
    background-color: transparent;
    border: 2px solid white;
    transition: 0.5s all ease;
}

.banner-h2-container .btn-container .color-btn3:hover{
    background-color: green;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}